.textoTitulo {
  color: aliceblue;
  font-weight: 300;
  font-size: x-large;
}

.textoBlanco {
  color: aliceblue;
  font-weight: 100;
}

.textoBlancoEncabezado {
  color: rgb(206, 229, 248);
  font-weight: 500;
}
